:root{
    /* custom properties - constants */
    --base-fs: .15rem;
    --spacer-xsm: 0.25rem;
    --spacer-sm: 0.5rem;
    --spacer-smd: .50rem;
    --spacer-md: 1rem;
    --spacer-lg: 1.5rem;
    --spacer-xlg: 3rem;
/* font & weight */
    --ff-Lato: 'Lato', sans-serif;
    --ff-NotoSerif: 'Noto Serif', serif;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;
    --fw-xbold: 900;
/*font sizes*/
    /* font sizes */
    --fs-xsm: 1rem;
    --fs-sm: 1.125rem;
    --fs-rg: 1.25rem;
    --fs-md: 1.5rem;
    --fs-mdl: 2.125rem;
    --fs-mdxl: 3rem;
    --fs-lg: 4rem;
    --fs-xlg: 5rem;
/*colors*/
/*    --clr-white: hsl(0,0%,100%);*/
    --clr-black: hsl(0,100%,0%);
    --clr-yellow: #EA9215;
    --clr-white: #ffff;
    --clr-d-gray: #2D3338;
    --clr-a-gray: hsl(0, 0%, 85%);
    --clr-light-blue: hsl(197, 100%, 47%);
    --clr-facebook-blue: hsl(220, 46%, 48%);
    

/*text-style*/
    --italic:'italic';
    --regular:'regular';
    /*COLORS*/
    --bg-orange: hsl(35, 84%, 50%);
    --bg-white: hsl(0, 0%, 100%);
}